{
  "parser": "@babel/eslint-parser",
  "extends":["airbnb-base"],
  "plugins": ["prettier"],
  "rules":{
    "no-console":"off",
    "prettier/prettier": ["error"]
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  }
}